footer.footer
  .footer__container
    .d-flex.jc-sb.ai-c
      a.logo.logo_wt.footer__logo
          svg(width='114' height='40' viewBox='0 0 114 40')
            use(xlink:href='#logo-blue')
      .footer__nav.nav
        ul.nav__wrapper.d-flex.jc-sb
          li.nav__item
            a.nav__link(href="/") Payment link
          li.nav__item
            a.nav__link(href="/") Dataphone
          li.nav__item
            a.nav__link(href="/") About Us
          li.nav__item
            a.nav__link(href="/") Blog
          li.nav__item
            a.nav__link(href="/") Join the Bold team
    .d-flex.jc-sb
      .footer__contacts Bold.co S.A.S. NIT 901281572-4  <br> Calle 99 # 10 - 57 <br> WhatsApp: (318) 586 5168 <br> ventas@bold.co <br> Bogotá, Colombia
      .footer__social
        .footer__subtitle For more information, follow us on our networks
        .d-flex.jc-fe
          a.footer__social-link(href='/')
            img(src="/assets/img/fb.png", alt="alt")
          a.footer__social-link(href='/')
            img(src="/assets/img/in.png", alt="alt")
          a.footer__social-link(href='/')
            img(src="/assets/img/inst.png", alt="alt")
          a.footer__social-link(href='/')
            img(src="/assets/img/yt.png", alt="alt")
    .footer__line
    .footer__docs.d-flex.jc-sa
      a.footer__docs-link(href="/") Legal documents
      a.footer__docs-link(href="/") Privacy Policy
      a.footer__docs-link(href="/") Responsible disclosure
      a.footer__docs-link(href="/") Help Center
    .footer__copy Bold 2020 | All rights reserved