extends ../layout/main

block variables
  - var title = 'Bold main'
  - var pageClass = 'main-page'

block content
  section.first#app
    include ../includes/modules/header
    .container
      .first__title#first Get paid with<br>
                    | cards from <br>
                    | anywhere with <br>
                    | your payment link and <br>
                    | your dataphone.
      .first__subtitle * Remember that to activate the payment link option in the app <br>
        span.bold you must have a Bold dataphone 
                  | in your business. 
      .first__price
        .first__price_old $149.000
        .first__price_new.d-flex.ai-c $49.000 + <span>shipping</span>
        .first__price_description Special price for a limited time. *Until the 31/03/2021
        .btn.btn_red.first__btn Buy now
      .spacer.s2
  #triggerSvg.spacer.s0
  svg.path-two-lg.show-desktop.content-line(width='1131' height='4288' viewBox='0 0 1131 4288')
    defs
      lineargradient#path-two-lg-line(x1='50%' x2='50%' y1='1.119%' y2='99.091%')
        stop(offset='0%' stop-color='#EF434E')
        stop(offset='15.274%' stop-color='#111E6C')
        stop(offset='31.517%' stop-color='#EF434E')
        stop(offset='50.214%' stop-color='#111E6C')
        stop(offset='69.204%' stop-color='#EF434E')
        stop(offset='86.647%' stop-color='#111E6C')
        stop(offset='100%' stop-color='#EF434E')
    path#word(fill='none' fill-rule='evenodd' stroke='url(#path-two-lg-line)' stroke-width='4' transform='translate(-236 -820)' d='M239.579 820l-.848 395.848c-.084 39.212 31.636 71.068 70.848 71.152H1294c39.213 0 71 31.788 71 71v217.073c0 39.212-31.787 71-71 71H897.854c-39.212 0-71 31.788-71 71v286.899c0 39.212-31.788 71-71 71H312c-39.212 0-71 31.788-71 71v529.175c0 39.212 31.788 71 71 71h977c39.212 0 71 31.788 71 71v484.548c0 39.212-31.788 71-71 71-.431 0-.862-.004-1.293-.012l-404.636-7.37c-39.206-.713-71.567 30.49-72.281 69.696-.007.379-.01.757-.012 1.136l-1.85 835.698c-.086 39.212 31.631 71.07 70.843 71.157H1293c39.212 0 71 31.788 71 71v492.974c0 39.212-31.788 71-71 71H882.082c-39.212 0-71 31.788-71 71v58.79h0' style='stroke-dasharray: 8895.31, 8895.31; stroke-dashoffset: 8797;')
  .spacer.s2
  section.second
    .container
      .second__products.products.d-flex.jc-sb
        .second__item.product.products__card#trigger2
          .product__title Dataphone
          .product__img
            img(src='/assets/img/pr-01.png')
          .product__description With your dataphone you sell quickly and safely, every day to any time and anywhere.
          a.product__link(href='/') I want my dataphone
            svg(width="10" height="15" viewBox="0 0 10 15")
                use(xlink:href='#arrow-link')
        .second__item.product.products__card
          div.d-flex.ai-fs.jc-sa
            .product__title Payment link
            a.product__version.d-flex version 1.0
              svg(width="16" height="16" viewBox="0 0 16 16")
                use(xlink:href='#info-icon')
          .product__img 
            img(src='/assets/img/pr-02.png')
          .product__description Receive payments safely, easily and quickly from wherever you are with your payment link.
          a.product__link(href='/') I want to collect online
            svg(width="10" height="15" viewBox="0 0 10 15")
               use(xlink:href='#arrow-link')
  section.third#third
    .container
      .d-flex.jc-sb
        .third__left
          .third__title Your own business deserves its own dataphone.
          .third__subtitle Forget about monthly payments and rents. <br> With <span>Bold</span>, you buy your dataphone and start receiving payments instantly.
        .third__right.d-flex.ai-c#pin2
          .third__circle-img
            img(src="/assets/img/svg/circle-gradient.svg", alt="")
          .third__calc-img
            img(src="/assets/img/third__calc.png", alt="")
          .third__card-img 
            img(src="/assets/img/third__card.png", alt="")
  section.fourth#fourth
    .container
      .d-flex.jc-sb
        .fourth__left
          .fourth__title Increase your sales and receive all the cards.
          #fourth2
          .fourth__cards
            img(src="/assets/img/pays.png", alt="")
          .fourth__subtitle  You no longer lose more sales by only accepting cash in your business. With <span> Bold </span> you accept payments with national and international debit and credit cards.
          .fourth__contactless
            img(src="/assets/img/contactless.png", alt="")
        .third__right.d-flex.ai-c.pin3
            .third__circle-img
              img(src="/assets/img/svg/circle-gradient.svg", alt="")
            .third__calc-img
              img(src="/assets/img/third__calc.png", alt="")
            .third__card-img 
              img(src="/assets/img/third__card.png", alt="")
  section.fifth.tarifs
    .container 
      .fifth__title Clear rates for clear accounts with Bold.
      .d-flex.jc-sb
        .product.products__card.tarifs__left
          .tarifs__promo.d-flex.ai-c
            .tarifs__promo__img
              img(src="/assets/img/promo.png", alt="")
            .tarifs__promo__text 
              span By successful collection <br>
              | * Applies to all our clients: Pioneers, Natural Persons and Legal Persons.
          .tarifs__subtitle What does the 2.99% include?
          .tarifs__list
            .tarifs__item.d-flex.ai-c
              .tarifs__icon
                img(src="/assets/img/tr-01.png", alt="")
              .tarifs__description Bold commission and bank processing costs.
            .tarifs__item.d-flex.ai-c
              .tarifs__icon
                img(src="/assets/img/tr-02.png", alt="")
              .tarifs__description <span>2 free automatic transfers *</span> <br> a week from your Bold account <br> to your registered. <br>
                span.tarifs__description_mini * Tuesday and Thursday of each week
            .tarifs__item.d-flex.ai-c
              .tarifs__icon
                img(src="/assets/img/tr-03.png", alt="")
              .tarifs__description The 4x1000 charge associated with transfers.
            .tarifs__item.d-flex.ai-c
              .tarifs__icon
                img(src="/assets/img/tr-04.png", alt="")
              .tarifs__description  <span>VAT on the commission.</span> 
          .tarifs__bottom-text Keep running your business with Bold!
          .tarifs__info.d-flex.ai-c
            svg(width='16' height='16' viewBox='0 0 16 16')
              use(xlink:href='#info-icon')
            p Know the detail of the law taxes
        .product.products__card.tarifs__right.calc 
          .calc__title Calculate how much money you will receive
          .calc__subtitle Simulate a sale with <span>our 2.99% rate</span> and know how much you receive in your business. 
          .calc__form.form 
            .form__group.w-100
              .form__label Value of your sale:
              input.form__input.form__input_text(type='text' placeholder='$')
            .d-flex.jc-sb
              .form__group 
                .form__label Select tax:
                select.form__input.form__input_select
                    option(value='IVA 5%' selected) IVA 5%
                    option(value='IVA 19%') IVA 19%
                    option(value='Impuesto al consumo 8%') Impuesto al consumo 8%
                    option(value='Sin IVA') Sin IVA
              .form__group
                .form__label Tip:
                input.form__input.form__input_text(type='text' placeholder='0%')
            span.form__explanation Will you use your Bold dataphone? This helps us calculate ReteICA
            .d-flex.jc-sb
              .form__group 
                .form__label Select your department:
                select.form__input.form__input_select
                  option(value='Amazonas') Amazonas
                  option(value='Antioquia') Antioquia
                  option(value='Arauca') Arauca
                  option(value='Atlántico') Atlántico
                  option(value='Bolívar') Bolívar
                  option(value='Boyacá') Boyacá
                  option(value='Caldas') Caldas
                  option(value='Caquetá') Caquetá
                  option(value='Casanare') Casanare
                  option(value='Cauca') Cauca
                  option(value='Cesar') Cesar
                  option(value='Chocó') Chocó
                  option(value='Cundinamarca' selected) Cundinamarca
                  option(value='Córdoba') Córdoba
                  option(value='Guainía') Guainía
                  option(value='Guaviare') Guaviare
                  option(value='Huila') Huila
                  option(value='La Guajira') La Guajira
                  option(value='Magdalena') Magdalena
                  option(value='Meta') Meta
                  option(value='Nariño') Nariño
                  option(value='Norte de Santander') Norte de Santander
                  option(value='Putumayo') Putumayo
                  option(value='Quindío') Quindío
                  option(value='Risaralda') Risaralda
                  option(value='San Andrés') San Andrés
                  option(value='Santander') Santander
                  option(value='Sucre') Sucre
                  option(value='Tolima') Tolima
                  option(value='Valle del Cauca') Valle del Cauca
                  option(value='Vaupés') Vaupés
                  option(value='Vichada') Vichada
              .form__group
                .form__label Select your city:
                select.form__input.form__input_select
                  option(value='Agua de Dios') Agua de Dios
                  option(value='Albán') Albán
                  option(value='Anapoima') Anapoima
                  option(value='Anolaima') Anolaima
                  option(value='Apulo') Apulo
                  option(value='Arbeláez') Arbeláez
                  option(value='Beltrán') Beltrán
                  option(value='Bituima') Bituima
                  option(value='Bogotá D.C.' selected) Bogotá D.C.
                  option(value='Bojacá') Bojacá
                  option(value='Cabrera') Cabrera
                  option(value='Cachipay') Cachipay
                  option(value='Cajicá') Cajicá
                  option(value='Caparrapí') Caparrapí
                  option(value='Caqueza') Caqueza
                  option(value='Carmen de Carupa') Carmen de Carupa
                  option(value='Chaguaní') Chaguaní
                  option(value='Chipaque') Chipaque
                  option(value='Choachí') Choachí
                  option(value='Chocontá') Chocontá
                  option(value='Chía') Chía
                  option(value='Cogua') Cogua
                  option(value='Cota') Cota
                  option(value='Cucunubá') Cucunubá
                  option(value='El Colegio') El Colegio
                  option(value='El Peñón') El Peñón
                  option(value='El Rosal') El Rosal
                  option(value='Facatativá') Facatativá
                  option(value='Fomeque') Fomeque
                  option(value='Fosca') Fosca
                  option(value='Funza') Funza
                  option(value='Fusagasugá') Fusagasugá
                  option(value='Fúquene') Fúquene
                  option(value='Gachala') Gachala
                  option(value='Gachancipá') Gachancipá
                  option(value='Gachetá') Gachetá
                  option(value='Gama') Gama
                  option(value='Girardot') Girardot
                  option(value='Granada') Granada
                  option(value='Guachetá') Guachetá
                  option(value='Guaduas') Guaduas
                  option(value='Guasca') Guasca
                  option(value='Guataquí') Guataquí
                  option(value='Guatavita') Guatavita
                  option(value='Guayabal de Siquima') Guayabal de Siquima
                  option(value='Guayabetal') Guayabetal
                  option(value='Gutiérrez') Gutiérrez
                  option(value='Jerusalén') Jerusalén
                  option(value='Junín') Junín
                  option(value='La Calera') La Calera
                  option(value='La Mesa') La Mesa
                  option(value='La Palma') La Palma
                  option(value='La Peña') La Peña
                  option(value='La Vega') La Vega
                  option(value='Lenguazaque') Lenguazaque
                  option(value='Machetá') Machetá
                  option(value='Madrid') Madrid
                  option(value='Manta') Manta
                  option(value='Medina') Medina
                  option(value='Mosquera') Mosquera
                  option(value='Nariño') Nariño
                  option(value='Nemocón') Nemocón
                  option(value='Nilo') Nilo
                  option(value='Nimaima') Nimaima
                  option(value='Nocaima') Nocaima
                  option(value='Pacho') Pacho
                  option(value='Paime') Paime
                  option(value='Pandi') Pandi
                  option(value='Paratebueno') Paratebueno
                  option(value='Pasca') Pasca
                  option(value='Puerto Salgar') Puerto Salgar
                  option(value='Pulí') Pulí
                  option(value='Quebradanegra') Quebradanegra
                  option(value='Quetame') Quetame
                  option(value='Quipile') Quipile
                  option(value='Ricaurte') Ricaurte
                  option(value='San Antonio del Tequendama') San Antonio del Tequendama
                  option(value='San Bernardo') San Bernardo
                  option(value='San Cayetano') San Cayetano
                  option(value='San Francisco') San Francisco
                  option(value='San Juan de Río Seco') San Juan de Río Seco
                  option(value='Sasaima') Sasaima
                  option(value='Sesquilé') Sesquilé
                  option(value='Sibaté') Sibaté
                  option(value='Silvania') Silvania
                  option(value='Simijaca') Simijaca
                  option(value='Soacha') Soacha
                  option(value='Sopó') Sopó
                  option(value='Subachoque') Subachoque
                  option(value='Suesca') Suesca
                  option(value='Supatá') Supatá
                  option(value='Susa') Susa
                  option(value='Sutatausa') Sutatausa
                  option(value='Tabio') Tabio
                  option(value='Tausa') Tausa
                  option(value='Tena') Tena
                  option(value='Tenjo') Tenjo
                  option(value='Tibacuy') Tibacuy
                  option(value='Tibirita') Tibirita
                  option(value='Tocaima') Tocaima
                  option(value='Tocancipá') Tocancipá
                  option(value='Topaipí') Topaipí
                  option(value='Ubalá') Ubalá
                  option(value='Ubaque') Ubaque
                  option(value='Une') Une
                  option(value='Venecia') Venecia
                  option(value='Vergara') Vergara
                  option(value='Vianí') Vianí
                  option(value='Villa de San Diego de Ubate') Villa de San Diego de Ubate
                  option(value='Villagómez') Villagómez
                  option(value='Villapinzón') Villapinzón
                  option(value='Villeta') Villeta
                  option(value='Viotá') Viotá
                  option(value='Yacopí') Yacopí
                  option(value='Zipacón') Zipacón
                  option(value='Zipaquirá') Zipaquirá
                  option(value='Útica') Útica
            input.form__input.form__input_submit.btn.btn_red(type="submit", value="Calculate" disabled)
            span.form__disclaimer * The total calculation may vary in pesos per rounding issue.
      .fifth__bottom.d-flex.jc-sa
        .fifth__subtitle You have doubts? 
        .fifth__txt Our team will solve all the doubts you have.
        .fifth__links.d-flex.jc-c
          a.fifth__link.product__link(href='/') Contact commercial advisor
            svg(width="10" height="15" viewBox="0 0 10 15")
               use(xlink:href='#arrow-link')
          a.fifth__link.product__link(href='/') Contact support
            svg(width="10" height="15" viewBox="0 0 10 15")
               use(xlink:href='#arrow-link')
  .section.sixth#sixth
    .container
      .d-flex.jc-sb 
        .sixth__left
          .sixth__title Getting paid <br>is very easy.
          .sixth__content 
            p We have designed an easy-to-use app that allows you to save time and work quickly. In the <span class="bold">Bold App</span> you can see the report your sales, the details of each transaction and even see how much we have charged you to process your payments.
            p Take control of your business on your cell phone and start selling more!
          .sixth__platforms.d-flex.jc-sb.ai-c
            .sixth__platforms-item
              svg(width="150" height="50" viewBox="0 0 150 50")
                use(xlink:href='#app-store')
            .sixth__platforms-item
              svg(width="168" height="50" viewBox="0 0 168 50")
                use(xlink:href='#google-play')
            .sixth__platforms-item
              svg(width="168" height="52" viewBox="0 0 168 52")
                use(xlink:href='#app-gallery')
        .sixth__right
          .sixth__video.d-flex.ai-c
            img.sixth__gif(src="/assets/img/app-bold.gif", alt="")
            img.sixth__circle(src="/assets/img/white-circle.png", alt="alt")
          a.sixth__link.d-flex.ai-c(href='/')
            svg(width="34" height="34" viewBox="0 0 34 34")
              use(xlink:href='#play-icon')
            span Click here to see how you <br>charge with our App
  .section.seventh
    .container
      .seventh__title Contact us through any of these channels.
      .d-flex.jc-sb.ai-c
        .product.products__card.seventh__left
          .seventh__subtitle.bold Sales
          p Our <span class="bold">sales team</span> <br> he will answer any questions <br> you have about our services.
          .d-flex.seventh__message.jc-sa
            .seventh__item 
              .seventh__subtitle.bold WhatsApp
              a.seventh__link(href="/") 318 586 5168 <br>
                img(src="/assets/img/svg/whats-app-gradient-icon.svg", alt="")
            .seventh__item 
              .seventh__subtitle.bold Email
              a.seventh__link(href="/") mailto:ventas@bold.co <br>
                img(src="/assets/img/svg/mail-gradient-icon.svg", alt="")
        .product.products__card.seventh__right
          .seventh__subtitle.bold Medium
          p If you have any issues,<br> our  <span class="bold">support team</span> <br> will help you solve them.
          .d-flex.seventh__message.jc-c
            .seventh__item 
              .seventh__subtitle.bold Chat with an advisor
              a.seventh__link(href="/") Begin <br>
                img(src="/assets/img/svg/chat.svg", alt="")
      .fifth__bottom.d-flex.jc-c
        .seventh__subtitle.bold.m-0 Social media
        p somosbold.co
        .d-flex.seventh__social.jc-c
          img(src="/assets/img/facebook-gradient-icon.png", alt="")
          img(src="/assets/img/instagram-gradient-icon.png", alt="")
  section.eight
    .container 
      .eight__title What they say about us
      .eight__list.d-flex.jc-sb
        .eight__item
          img.eight__img(src="/assets/img/ab-01.png", alt="")
        .eight__item
          img.eight__img(src="/assets/img/ab-02.png", alt="")
        .eight__item
          img.eight__img(src="/assets/img/ab-03.png", alt="")
        .eight__item
          img.eight__img(src="/assets/img/ab-04.png", alt="")
        .eight__item
          img.eight__img(src="/assets/img/ab-05.png", alt="")
        .eight__item
          img.eight__img(src="/assets/img/ab-06.png", alt="")